.header-container {
    display: flex;
    width: calc(100vw - 16px);
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.menu-text {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-icons {
    color: white;
    font-size: 0.85rem;
}

.menu-icon {
    margin-right: 15px;
}

.title {
    color: white;
    font-size: 1.2rem;
    margin-left: 16px;
}

.about {
    color: gray;
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 15px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.98);
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    display: flex;
    height: calc(100% - 50px);
}

.guidenav-container {
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(5,5,5,0.58);
    padding-left: 15px;
    padding-bottom: 30px;
}

.guidenav-item {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 15px 0 15px 0;
}

.guidenav-title {
    color: white;
    font-size: 1.8rem;
}

.featuredguides-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-bottom: 30px;
}

.featured-guides {
    display: flex;
    justify-content: space-around;
}

.guide {
    position: relative;
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    overflow: hidden;
    text-shadow: -2px 3px 2px rgba(0,0,0,0.6);
}

.guide-title {
    z-index: 10;
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: end;
}

.guide-image {
    position: absolute;
    width: 100%;
    height: 100%;
}